{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
          {% if user.review_num>0 %}
            
            <p class="text-secondary"><a class="mr-2" href="{{ url_for('ratings', user_id=user.id) }}">{{ "%.2f"|format(user.reviews/user.review_num) }}/5 </a> &bigstar;</p>

          {% endif %}
        </div>
      </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="form-group">
                    <h5>{{ form.username.label(class="form-control-label") }} </h5>

                    <p> {{user.username}} </p>


                </div>
                <div class="form-group">
                    <h5>{{ form.email.label(class="form-control-label") }} </h5>

                    <p> {{user.email}} </p>

                </div>
               <div class="form-group">
                    <h5>{{ form.phone.label(class="form-control-label") }} </h5>

                    <p> {{user.phone}} </p>



                </div>
                <div class="form-group">
                    <h5>{{ form.birth_date.label(class="form-control-label") }} </h5>


                    <p> {{user.birth_date.date()}} </p>

                </div>
                 <div class="form-group">
                    <h5>{{ form.firstname.label(class="form-control-label") }}  </h5>


                    <p> {{user.firstname}} </p>

                </div>
                <div class="form-group">
                    <h5>{{ form.surname.label(class="form-control-label") }} </h5>


                    <p> {{user.surname}} </p>

                </div>
                <div class="form-group">
                    <h5>{{ form.sex.label(class="form-control-label") }} </h5>


                    <p> {{user.sex}} </p>

                </div>


            </fieldset>

        </form>
    </div>
{% endblock content %}
