{% extends "layout.html" %}
{% block content %}
<h1>Συχνές Ερωτήσεις FAQ </h1>
<br>
 <h3>Κάποιος ανέβασε μια καταχώρηση που πιστεύω οτι παραβιάζει πνευματικά δικαιώματα ή είναι προσβλητική , τι να κάνω ?</h3>

<div class=answer>Η εφαρμογή μας προσφέρει την δυνατότητα σε κάθε χρήστη να κάνει αναφορά όποιου καταλύματος θεωρεί ακατάλληλο , προσθέτωντας μαζι και μια περιγραφή σχετικών λόγων , ώστε να ελεγχθεί στην συνέχεια από τους admin της σελίδας μας . </div>

<br>

<h3>Πως μπορώ να έρθω σε επικοινωνία με άλλους χρήστες/ιδιοκτήτες ακινήτου για κάποιο θέμα </h3>


<div class=answer>Στην σελίδα επικοινωνία μπορείτε να στείλετε κάποιο προσωπικό μήνυμα σε άλλους χρήστες ή για μεγαλύτερη διευκόλυνση στην επικοινωνία με τον ιδιοκτήτη του ακινήτου στο οποίο διαμένετε, να χρησιμοποιήσετε τα αυτόματα μηνύματα μας για την ανάγκη κάποιας υπηρεσίας  </div>

<br>

<h3>Πως μπορώ να ξέρω αν ένα κατάλυμα είναι αξιόπιστο? </h3>


<div class=answer>Μπορείτε πάντα να κοιτάτε την βαθμολογία κάθε καταλύματος(εφόσον υπάρχει) όπως έχει διαμορφωθεί από τις κριτικές των υπολοίπων χρηστών και θα σας παροτρίναμε να συνεισφέρετε και εσείς με την σειρά σας , προσθέτοντας μια κριτική στα καταλύματα που έχετε διαμείνει .  </div>



{% endblock content %}
