{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend>Create a report to be evaluated by our admins</legend>
                
                <div class="form-group">
                    {{ form.comments.label(class="form-control-label") }}
                    {% if form.comments.errors %}
                        {{ form.comments(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.comments.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.comments(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                
            </fieldset>
            <br>
            <br>
            <p> Είστε σίγουρος ότι θέλετε να κάνετε αναφορά για το {{report.house_name}} </p>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            <div class="form-group">
                {{ form.submit2(class="btn btn-outline-info") }}
            </div>
            
        </form>
    </div>
    
    
{% endblock content %}
